<!DOCTYPE html>
<html>
<head><title>Posts</title></head>
<body>
	<% for (let i = 0; i < 5 && i < postTitles.length; i++) { %>
		<h1><%= postTitles[i] %></h1>
		<p><%= posts[i] %></p>
	<% } %>
</body>
</html>