<!DOCTYPE html>
<html>
<head><title>Login</title></head>
<body>
    <h1>Login</h1>
    <form method="POST">
        <div>
            <p>Username:</p>
            <input type="text" id="username" name="username">
            <p>Password:</p>
            <input type="hidden" name="redirect" value="<%= redirect %>">
            <input type="password" id="password" name="password"><br><br>
            <button type="submit" name="action" value="login">Login</button>
        </div>
    </form>
</body>
</html>